<br>
{% include 'menu.html' %}
<br>

<span id="user-list"></span>

<script src="{{ url_for('static', filename='js/display_users.js') }}"></script>
<script src="{{ url_for('static', filename='js/users_profile.js') }}"></script>
<script src="{{ url_for('static', filename='js/update_users.js') }}"></script>
<script src="{{ url_for('static', filename='js/delete_users.js') }}"></script>
<script src="{{ url_for('static', filename='js/toggle_user_status.js') }}"></script>
<script src="{{ url_for('static', filename='js/search_by_username.js') }}"></script>