<div class="w3-row-padding w3-section w3-stretch">
    <div class="w3-half">
        <input class="w3-input w3-border w3-round w3-light-grey w3-card w3-center" type="text" name="search_box"
               id="search_box" onkeyup="searchByUsername()"
               placeholder="&#128269; What you want to search... &#128270;">
    </div>
    <div class="w3-half">
        <button type="button" class="w3-button w3-block w3-light-grey w3-border w3-round w3-card"
                onclick="document.getElementById('add_user_modal').style.display='block'">➕ Add USer ➕
        </button>
    </div>
</div>