<div id="userInfoModal" class="w3-modal">
    <div class="w3-modal-content w3-round w3-sand">
        <div class="w3-container">
            <div class="w3-panel w3-round w3-blue-grey">
                <h2 class="w3-center">User Information</h2>
            </div>
            <span id="userInfoContent" class="w3-padding"></span>
            <div class="w3-section">
                <button type="button" class="w3-button w3-block w3-red w3-border w3-round"
                        onclick="closeUserInfoModal()">Close
                </button>
            </div>
        </div>
    </div>
</div>
